/* Image d'arrière-plan */
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('./images/pampa.jpg') center center no-repeat;
    background-size: cover;
    z-index: -1;
}

/* Fix pour iOS */
@supports (-webkit-touch-callout: none) {
    #background {
        background-attachment: scroll;
        background-size: auto 100vh;
    }
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding-top: 200px;
    color: #3C3C3C;
}

h1, h2, h3 {
    font-family: "Allura", serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    max-width: 98%;
    margin: 20px auto;
}
h1 {
    font-size: 4.5em;
}
h2 {
    font-size: 3.8em;
}
h3 {
    font-size: 3em;
}
p {
    font-family: 'Cardo', serif; /* Police pour le texte principal */
    line-height: 1.8; /* Améliore la lisibilité */
    font-size: 1.5rem; /* Taille du texte */
}

section {
    max-width: 80%;
    margin:  0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(218 195 173 / 81%);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Inclut padding dans la largeur totale */
}

.logo img {
    width: 200px;
    animation: fadeIn 1.5s ease-out;
}

/* --- Bouton hamburger (mobile uniquement) --- */
.hamburger-container {
    display: none; /* Masqué par défaut */
}

@media screen and (max-width: 768px) {
    .hamburger-container {
        display: flex; /* Affiché uniquement sur mobile */
        position: fixed;
        top: 20px;
        right: 20px;
        flex-direction: column;
        align-items: center;
        z-index: 1100;
        background-color: #8aa199;
        width: 60px;
        height: 60px;
        justify-content: center;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    }

    .hamburger-label {
        font-family: 'Raleway', sans-serif;
        font-size: 0.8rem;
        font-weight: 600;
        color: #ffffff;
        margin-top: 5px; /* Espacement avec le carré */
    }
}

/* Bouton hamburger */
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
    cursor: pointer;
}

.hamburger span {
    position: relative;
    display: block;
    height: 1px;
    background: #fff;
    flex: 0 0 auto;
    transition: all 280ms 0ms ease-in-out;
}

/* Animation des traits en croix */
.hamburger.active span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) translateX(2px) translateY(-4px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) translateX(3px) translateY(3px);
}

/* Menu de navigation */
.navigation {
    display: flex; /* Liens côte à côte sur desktop */
    gap: 1rem;
}

@media screen and (max-width: 768px) {
    .navigation {
        position: fixed;
        top: 0;
        right: -100%; /* Hors de l'écran */
        height: 100%;
        width: 250px;
        background-color: rgb(218 195 173 / 81%);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
        transition: right 0.3s ease-in-out;
        z-index: 1000;
    }

    .navigation.active {
        right: 0;
        width: 100%;
        background: rgb(218 195 173);
        display: flex;
        justify-content: flex-start;
        padding-top: 120PX;
    }

    .navigation ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .navigation a {
        font-size: 1.5rem;
    }
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.navigation a {
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    font-size: 1.2em;
}
.navigation a:hover {
    color:#8aa199;
    text-decoration: underline;
}
.swiper {
    position: relative;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

.swiper-wrapper{
    display: flex;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out; /* Préfixe pour Safari */
    will-change: transform; /* Optimisation des performances */
}

.swiper-slide img {
    width: 100%;
    height: 700px; /* Ajuster selon la hauteur souhaitée */
    object-fit: cover;
    -webkit-object-fit: cover; /* Préfixe pour Safari ancien */
}
/* Pagination (bullets) */
.swiper-horizontal > .swiper-pagination-bullets {
    position: absolute !important;
    bottom: 15px !important;
    top: auto !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    -webkit-transform: translateX(-50%) !important;
    display: flex !important;
    gap: 2px;
    width: auto !important; /* Supprime la largeur par défaut */
}

/* Bullets */
.swiper-pagination-bullet {
    width: 20px;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
}

/* Bullet active */
.swiper-pagination-bullet-active {
    background-color: rgba(255, 255, 255, 0.6);
}

/* Boutons Previous et Next */
.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); /* Préfixe pour Safari */
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 5%;
    font-size: 20px;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Boutons Position */
.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 16px; 
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    flex-direction: column;
}

.cta-button {
    display: inline-block;
    margin: 30px;
    padding: 15px 30px;
    background-color: #8aa199; /* Couleur du bouton */
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.cta-button:hover {
    background-color: #c6d5d0; /* Couleur au survol */
    transform: translateY(-3px); /* Effet d'élévation */
    
}

.text-background { 
    /*margin: 0 auto;
    background-color: rgb(251 241 233 / 43%);
    padding: 20px;
    */border-radius: 25px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    position: relative;
}

.inner-border {
    /*border: 3px solid #c6d5d0;
    border-radius: 25px;
    background-color: transparent;
    */padding: 2rem;
    text-align: center;
}

.services {
    border-top: solid 1px;
}
.promotions {

    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.card {
    color: #FFF;
    padding: 1rem;
    border-radius: 5px;
    min-width: 150px;
    text-align: center;
    font-weight: 500;
    background-color: rgb(218 195 173 / 81%);
}

.articles {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;
}

article {
    width: 300px;
    text-align: center;
    background-color: rgb(251 241 233 / 43%);
    padding: 20px;
    border-radius: 8px 80px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

article img {
    border-radius: 0px 80px 0 80px;
    height: 400px;
    width: 90%;
    margin-top: 10px;
}
/* Styles pour le footer */
.footer {
    background-color: #c6d5d0;
    text-align: center;
    padding: 2rem;
    color: #4f4f4f;
    box-sizing: border-box;
    position: relative;
}

.footer-content {
    justify-content: space-between;
    gap: 1rem;
    max-width: 70%;
    margin: 0 auto;
}
.footer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
}
.footer-row h2 {
    margin: 0;
}
.footer-columns { 
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.footer-column {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.footer-column h3 {
    margin:0;
}
.footer-column p,
.footer-column a {
    margin:  0;
    color: #4f4f4f;
    text-decoration: none;
    font-size: 1.2rem;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-row img {
    width: 100px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.footer-row img:hover {
    opacity: 1;
}

/* Mobile footer */
.mobile-footer {
    display: none;
    justify-content: space-around;
    align-items: center;
    background-color: #8aa199;
    color: #FFF;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.mobile-footer a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
}

.mobile-footer a i {
    font-size: 1.5rem;
  
}

.mobile-footer a:hover {
    color: #8aa199;
}
/* Modale - Fond */
.cookie-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.cookie-modal.hidden {
    display: none;
}

/* Modale - Contenu */
.cookie-modal-content {
    background: #FFF;
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cookie-options {
    text-align: left;
    margin: 1rem 0;
}

.cookie-options label {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    font-size: 1rem;
}

.cookie-options input {
    margin-right: 0.5rem;
}

/* Boutons */
.cookie-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.btn {
    padding: 0.5rem 1.5rem;
    background-color: #8aa199;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #5f7d73;
}

.btn-secondary {
    background-color: #CCC;
    color: #333;
}

.btn-secondary:hover {
    background-color: #AAA;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.2em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.9em ;
    }

    p {
        font-size: 1em;
    }
    .header {
        position: static; /* Le header ne reste pas fixe */
        display: flex;
        flex-direction: column;
    }
    .cards {
        flex-direction: column;
    }
    
    body {
        background-image: url('./images/pampas-mobile.jpg');
        padding-top: 0; /* Supprime le padding du header fixe */
        padding-bottom: 80px; /* Ajoute un espace pour éviter que le contenu soit masqué sous le footer */
    }
    .cta-button {
        font-size: 1rem;
        padding: 10px 20px;
    }
    .swiper {
        max-width: 90%;
    }
    .swiper-slide img {
        height: 350px; 
    }
    .footer-content {
        max-width: 98%;
    }
    .footer-row {
        flex-direction: column;
    }
    .footer-columns {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .footer-column {
        align-items: center;
    }
}
/* Desktop-specific styles */
/* Media Queries */
@media screen and (min-width: 769px) {
    .mobile-footer {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

   

    .mobile-footer {
        display: flex;
    }
}